#waveform {
  width: 100%;
  left: 0;
  height: 30%;
  position: absolute;
  top: 50%;
  margin: -15% auto;
  display: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-user-select: none;
  user-select: none;

  @media only screen and (max-width: 812px){
    width: 100vw;
    left: -17px;
    top: auto;
    bottom: 8vh;

    @media (orientation: landscape) {
      left: -32px;
    }
  }
}
#waveform:hover {
  opacity: 1;
}

#player {
  position: absolute;
  right: 4vw;
  width: 65vw;
  max-width: 345px;
  height: 130px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  @media only screen and (max-width: 812px){
    right: auto;
  }

/* Top Info */
  #title {
    height: 34px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: green;
  }

  #timer {
    display: none;
    position: absolute;
    top: 0;
    left: 3%;
    text-align: left;
    font-size: 26px;
    opacity: 0.9;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  #duration {
    display: none;
    position: absolute;
    top: 0;
    right: 3%;
    text-align: right;
    font-size: 26px;
    opacity: 0.5;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }

  /* Controls */
  .controlsOuter {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 3%;
  }
  .controlsInner {
    width: 60%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .btn {
    cursor: pointer;
    opacity: 0.9;
    user-select: none;

    svg {
      display: block;
      margin: auto;
    }
  }
  .btn:hover {
    opacity: 1;
  }

  #playBtn {
    padding-top: 4px;
    padding-left: 3px;
  }
  #pauseBtn {
    display: none;
    padding-top: 6px;
  }
  #prevBtn {
    width: 35px;
    height: 35px;
    padding-top: 8px;
  }
  #nextBtn {
    width: 35px;
    height: 35px;
    padding-top: 8px;
  }

  #playBtn,
  #pauseBtn,
  #prevBtn, 
  #nextBtn {
    width: 35px;
    height: 35px;
    background-size: 50%;
    background-repeat: no-repeat;
    border: 2px solid green;
    border-radius: 50%;
    background-position: center;
  }

  /* Progress */
  #bar {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    opacity: 0.9;
  }
  .box-progress {
    width: 100%;
    height: 10px;
    border: 1px solid green;
    background: green;
  }

  #progress {
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: red;
    z-index: -1;
  }

  /* Loading */
  #loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    display: none;
  }
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

  /* Plylist */
  #playlist {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  #list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .list-song {
    width: 100%;
    height: 120px;
    font-size: 50px;
    line-height: 120px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  .list-song:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  /* Volume */
  #volume {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    touch-action: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none;
  }
  .bar {
    position: absolute;
    top: 50%;
    left: 5%;
    margin: -5px auto;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  #barEmpty {
    width: 90%;
    opacity: 0.5;
    box-shadow: none;
    cursor: pointer;
  }
  #barFull {
    width: 90%;
  }
  #sliderBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 93.25%;
    margin: -25px auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    border-radius: 25px;
    cursor: pointer;
  }

  /* Fade-In */
  .fadeout {
    webkit-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
  }
  .fadein {
    webkit-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  @-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  @-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
}