.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	position: relative;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			// box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// position: absolute;
			// top: 100%;
			// left: -999em;
			// z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	@media screen and (max-width: 812px) {
		top: -140px;
		z-index: 21;
	}
}

/* Small menu. */
.menu-toggle, 
.main-navigation.toggled .nav-menu {
	display: block;
}

.menu-toggle {
	display: block;
	position: relative;
	z-index: 1;
	
	-webkit-user-select: none;
	user-select: none;
}

.menu-toggle a {
	text-decoration: none;
	transition: color 0.3s ease;
}

.menu-toggle a:hover {
	color: tomato;
}


.menu-toggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	
	cursor: pointer;
	
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	
	-webkit-touch-callout: none;
}

.menu-toggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;

	z-index: 1;
	
	transform-origin: 4px 0px;
	
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
}

.menu-toggle span:first-child {
	transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2){
	transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

@media screen and (min-width: 813px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.burger {
	position: relative;
}

.hidden {
	display: none;
}









